<div class="row">
    <div class="column">
        <h3>Sign in with Passkey</h3>
        This is the signin flow. Just click your username to sign in. The passkeys are stored on your device.
        <br><br>
        This is what happens when you click a passkey.<br>
        <ol>
            <li>An authorize request is sent to Beyond Identity OAuth server</li>
            <li>The response returns a redirect to your application that also contains a unique challenge</li>
            <li>The passkey is used to sign the challenge.</li>
            <li>The SDK generates a code</li>
            <li>The code is then exchanged for a id_token from the Beyond Identity auth server.</li>
        </ol>
    </div>
    <div style="margin-left: 50px; float: left; width: 40%;" >
        <h3> Try it out </h3>
        <div *ngIf="!selectedCredential">
            <p>Select a passkey to login with</p>
                <div *ngFor="let credential of credentials">
                    <button style="width: 60%;" (click)="onSelect(credential)">
                        <span>{{credential.identity.username}}</span>
                    </button>
                </div>    
        </div>
        <div *ngIf="selectedCredential && !idToken">
            <p>Signing you in with Secure Passkey...</p>
        </div>
        <div *ngIf="selectedCredential && idToken">
            <p> Welcome, <b>{{selectedCredential.identity.username}}</b>! Signed in sucessfully! </p>
            <code>
                <p> ID Token Returned from Beyond Identity Auth Server:</p>
                <pre>{{idToken}}</pre>
            </code>
        </div>

    </div>
</div>


