

<div class="row">
    <div class="column">
        <h3> Create Passkey (in line)</h3>
        This is the inline create passkey flow. All a user needs to do is enter a username, and a passkey is created.

        <br><br>
        This is what happens when you enter a username and click Create Passkey
        <ol>
            <li>A <a href="https://developer.beyondidentity.com/api/v1#tag/Identities/operation/CreateIdentity" target="_blank">Create Identity request</a> is made to the Beyond Identity directory (and is successful).</li>
            <li>A <a href="https://developer.beyondidentity.com/api/v1#tag/Credential-Binding-Jobs/operation/CreateCredentialBindingJob" target="_blank">Create Credential Binding Job request</a> is made to the Beyond Identity directory. The response returns a credential binding link</li> 
            <li>The credential binding link is passed to the Beyond Identity SDK</li>
            <li>Upon success a private key is created in the device's hardware trust module and public key sent to Beyond Identity's cloud.</li>
        </ol>

    </div>
    <div style="margin-left: 50px; float: left; width: 40%;">
        <h3> Try it out </h3>
    <div *ngIf="user.username == '' && user.credentialBindingLink == '' && user.passkeyID == ''">
        <div class="row">
                <label for="new-user">Username: </label>
                <input id="new-user" #username />
        </div>
        <div class="row">
            <button type="button" (click)="signup(username.value); username.value=''">
                Create Passkey
            </button>
        </div>
    </div>
    <div *ngIf="user.username != '' && user.passkeyID == ''">
        Creating Secure Passkey...
    </div>
    <div *ngIf="user.passkeyID != ''">
        Created Passkey! Welcome <b>{{user.username}}</b>
    </div></div>
  </div>


